<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Productos</title>

  <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/style.css">

</head>

<body class="bg-light">

<header class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">

          <a class="navbar-brand" href="index.html">Productos</a>

          <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#menu">
          <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="menu">

          <ul class="navbar-nav ms-auto">

          <li class="nav-item"><a class="nav-link" href="index.html">Productos</a></li>
          <li class="nav-item"><a class="nav-link" href="userProduct.html">Usuarios</a></li>
  

          </ul>

          </div>
      </div>
  </nav>
</header>

<div class="container mt-4">
  <h1 class="mb-4">Usuarios y sus Productos</h1>

  <div id="products"></div>
</div>

<!-- JS -->
<script type="module" src="../js/appProduct.js"></script>
<script src="Bootstrap/js/bootstrap.bundle.min.js"></script>

</body>
</html>